{% extends 'page.html' %}
{% block title %} {{parent()}}{{ page.title}} {% endblock %}
{% block pageheader %}{{ page.heading}} {% endblock %}

{% block content %}
{% for item in page.goods %}
<div class="jumbotron">
    <div class="jumbotron-content">
        {% include 'goods.html' %}
        {%set id = item.id_goods %}
        {% for element in page.tags  %}
            {% import 'macros.twig' as lib %}
            {{ lib.list(element,'id_goods', id, ',') }}
        {%endfor%}
    </div>
</div>
{% endfor %}
{% block aside %}
<aside role="presentation">
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Рекомендованные товары</h3>
                </div>

                <div class="panel-body">
                    {% for item in page.goods %}
                    {% if item is recommend %}

                    <h4>{{item.name}}</h4>
                    <p> Цена {{ item.price}} т.руб.</p>

                    {% endif%}
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</aside>

{% endblock %}

{% endblock %}


