{% macro list(items, id_item, id, bullet) %}

    {% for item in items  %}
		{% if attribute(item,id_item) == id %}
			{%  set m = bullet %}
				{% if loop.last == true %}
					{% set m = '' %}
				{% endif %}
			<a href="#">{{ item.name ~ m }}</a>
		{% endif %}
	{% endfor %}

{% endmacro %}


{% macro ordinarylists(items) %}

	{% for item in items %}

			{{item | raw}}

	{% endfor %}

{% endmacro %}